:root {
  --alabaster: rgba(249, 249, 249, 1);
  --alto: rgba(210, 210, 210, 1);
  --black: rgba(0, 0, 0, 1);
  --cod-gray: rgba(14, 14, 14, 1);
  --dove-gray: rgba(112, 112, 112, 1);
  --dusty-gray: rgba(154, 154, 154, 1);
  --gallery: rgba(240, 240, 240, 1);
  --lochmara: rgba(0, 118, 206, 1);
  --mercury: rgba(225, 225, 225, 1);
  --nero: rgba(255, 255, 255, 1);
  --nobel: rgba(182, 182, 182, 1);
  --porcelain: rgba(245, 246, 247, 1);
  --roboto-bold-14-font-family: "Roboto-Bold", Helvetica;
  --roboto-bold-14-font-size: 14px;
  --roboto-bold-14-font-style: normal;
  --roboto-bold-14-font-weight: 700;
  --roboto-bold-14-letter-spacing: 0px;
  --roboto-bold-14-line-height: 20px;
  --roboto-bold-32-font-family: "Roboto-Bold", Helvetica;
  --roboto-bold-32-font-size: 32px;
  --roboto-bold-32-font-style: normal;
  --roboto-bold-32-font-weight: 700;
  --roboto-bold-32-letter-spacing: 0px;
  --roboto-bold-32-line-height: normal;
  --roboto-light-21-font-family: "Roboto-Light", Helvetica;
  --roboto-light-21-font-size: 21px;
  --roboto-light-21-font-style: normal;
  --roboto-light-21-font-weight: 300;
  --roboto-light-21-letter-spacing: 0px;
  --roboto-light-21-line-height: 32px;
  --roboto-light-24-font-family: "Roboto-Light", Helvetica;
  --roboto-light-24-font-size: 24px;
  --roboto-light-24-font-style: normal;
  --roboto-light-24-font-weight: 300;
  --roboto-light-24-letter-spacing: 0px;
  --roboto-light-24-line-height: 32px;
  --roboto-light-32-font-family: "Roboto-Light", Helvetica;
  --roboto-light-32-font-size: 32px;
  --roboto-light-32-font-style: normal;
  --roboto-light-32-font-weight: 300;
  --roboto-light-32-letter-spacing: 0px;
  --roboto-light-32-line-height: 40px;
  --roboto-light-40-font-family: "Roboto-Light", Helvetica;
  --roboto-light-40-font-size: 40px;
  --roboto-light-40-font-style: normal;
  --roboto-light-40-font-weight: 300;
  --roboto-light-40-letter-spacing: 0px;
  --roboto-light-40-line-height: 48px;
  --roboto-medium-16-font-family: "Roboto-Medium", Helvetica;
  --roboto-medium-16-font-size: 16px;
  --roboto-medium-16-font-style: normal;
  --roboto-medium-16-font-weight: 500;
  --roboto-medium-16-letter-spacing: 0.07999999821186066px;
  --roboto-medium-16-line-height: 24px;
  --roboto-medium-16-upper-font-family: "Roboto-Medium", Helvetica;
  --roboto-medium-16-upper-font-size: 16px;
  --roboto-medium-16-upper-font-style: normal;
  --roboto-medium-16-upper-font-weight: 500;
  --roboto-medium-16-upper-letter-spacing: 0.07999999821186066px;
  --roboto-medium-16-upper-line-height: 24px;
  --roboto-regular-12-font-family: "Roboto-Regular", Helvetica;
  --roboto-regular-12-font-size: 12px;
  --roboto-regular-12-font-style: normal;
  --roboto-regular-12-font-weight: 400;
  --roboto-regular-12-letter-spacing: 0.05999999865889549px;
  --roboto-regular-12-line-height: 20px;
  --roboto-regular-14-font-family: "Roboto-Regular", Helvetica;
  --roboto-regular-14-font-size: 14px;
  --roboto-regular-14-font-style: normal;
  --roboto-regular-14-font-weight: 400;
  --roboto-regular-14-letter-spacing: 0px;
  --roboto-regular-14-line-height: normal;
  --roboto-regular-16-font-family: "Roboto-Regular", Helvetica;
  --roboto-regular-16-font-size: 16px;
  --roboto-regular-16-font-style: normal;
  --roboto-regular-16-font-weight: 400;
  --roboto-regular-16-letter-spacing: 0.07999999821186066px;
  --roboto-regular-16-line-height: 24px;
  --roboto-regular-20-font-family: "Roboto-Regular", Helvetica;
  --roboto-regular-20-font-size: 20px;
  --roboto-regular-20-font-style: normal;
  --roboto-regular-20-font-weight: 400;
  --roboto-regular-20-letter-spacing: 0.07999999821186066px;
  --roboto-regular-20-line-height: 28px;
  --roboto-regular-24-font-family: "Roboto-Regular", Helvetica;
  --roboto-regular-24-font-size: 24px;
  --roboto-regular-24-font-style: normal;
  --roboto-regular-24-font-weight: 400;
  --roboto-regular-24-letter-spacing: 0px;
  --roboto-regular-24-line-height: 32px;
  --roboto-semibold-14-font-family: "Roboto-SemiBold", Helvetica;
  --roboto-semibold-14-font-size: 14px;
  --roboto-semibold-14-font-style: normal;
  --roboto-semibold-14-font-weight: 600;
  --roboto-semibold-14-letter-spacing: 0px;
  --roboto-semibold-14-line-height: 20px;
  --science-blue: rgba(6, 114, 203, 1);
}
